<!DOCTYPE html>
<html>
  <head>
    <title>Miss R's Resources</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= image_tag("bkg.jpg", "bkg2.jpg") %>
  
     <h1>Miss Rachal's Student Resources</h1>
  
  </head>

  <body>

    <div class="box1">
      <h2>Computer Science & Programing</h2>
    </div>

    <div class="box2"></a>
      <h3>English 1A_Sec 2</h3>
    </div>


    <%= yield %>
  </body>
</html>
